In [1]:
    import random

    random.seed(0)
    salaries = [round(random.random()*1000000, -3) for _ in range(100)]
    print(salaries)

[844000.0, 758000.0, 421000.0, 259000.0, 511000.0, 405000.0, 784000.0, 303000.0, 477000.0, 583000.0, 908000.0, 505000.0, 282000.0, 756000.0, 618000.0, 251000.0, 910000.0, 983000.0, 810000.0, 902000.0, 310000.0, 730000.0, 899000.0, 684000.0, 472000.0, 101000.0, 434000.0, 611000.0, 913000.0, 967000.0, 477000.0, 865000.0, 260000.0, 805000.0, 549000.0, 14000.0, 720000.0, 399000.0, 825000.0, 668000.0, 1000.0, 494000.0, 868000.0, 244000.0, 325000.0, 870000.0, 191000.0, 568000.0, 239000.0, 968000.0, 803000.0, 448000.0, 80000.0, 320000.0, 508000.0, 933000.0, 109000.0, 551000.0, 707000.0, 547000.0, 814000.0, 540000.0, 964000.0, 603000.0, 588000.0, 445000.0, 596000.0, 385000.0, 576000.0, 290000.0, 189000.0, 187000.0, 613000.0, 657000.0, 477000.0, 90000.0, 758000.0, 877000.0, 923000.0, 842000.0, 898000.0, 923000.0, 541000.0, 391000.0, 705000.0, 276000.0, 812000.0, 849000.0, 895000.0, 590000.0, 950000.0, 580000.0, 451000.0, 660000.0, 996000.0, 917000.0, 793000.0, 82000.0, 613000.0, 486000.0]

In [2]:
sum(salaries) / len(salaries) == mean(salaries)

NameError: name 'mean' is not defined

In [3]:
from statistics import mean

sum(salaries) / len(salaries) == mean(salaries)

True

In [4]:
mean(salaries)

585690.0

In [5]:
sum(salaries) / len(salaries)

585690.0

In [16]:
import numpy as np

data = np.genfromtxt(
    'ch_02/data/example_data.csv', delimiter=';', 
    names=True, dtype=None, encoding='UTF'
)
data

array([('2018-10-13 11:10:23.560', '262km NW of Ozernovskiy, Russia', 'mww', 6.7, 'green', 1),
       ('2018-10-13 04:34:15.580', '25km E of Bitung, Indonesia', 'mww', 5.2, 'green', 0),
       ('2018-10-13 00:13:46.220', '42km WNW of Sola, Vanuatu', 'mww', 5.7, 'green', 0),
       ('2018-10-12 21:09:49.240', '13km E of Nueva Concepcion, Guatemala', 'mww', 5.7, 'green', 0),
       ('2018-10-12 02:52:03.620', '128km SE of Kimbe, Papua New Guinea', 'mww', 5.6, 'green', 1)],
      dtype=[('time', '<U23'), ('place', '<U37'), ('magType', '<U3'), ('mag', '<f8'), ('alert', '<U5'), ('tsunami', '<i8')])

In [12]:
    import pandas as pd

array_dict = {
    col: np.array([row[i] for row in data])
    for i, col in enumerate(data.dtype.names)
}
array_dict    
place = pd.Series(array_dict['place'], name='place')
place

0          262km NW of Ozernovskiy, Russia
1              25km E of Bitung, Indonesia
2                42km WNW of Sola, Vanuatu
3    13km E of Nueva Concepcion, Guatemala
4      128km SE of Kimbe, Papua New Guinea
Name: place, dtype: object

In [13]:

max([row[3] for row in data])

6.7

In [17]:
array_dict['mag'].max()

6.7

In [20]:
import pandas as pd

place = pd.Series(array_dict['place'], name='xplace')
place

0          262km NW of Ozernovskiy, Russia
1              25km E of Bitung, Indonesia
2                42km WNW of Sola, Vanuatu
3    13km E of Nueva Concepcion, Guatemala
4      128km SE of Kimbe, Papua New Guinea
Name: dplace, dtype: object

In [21]:
place.name

'dplace'

In [23]:
import numpy as np

data = np.genfromtxt(
    'ch_02/data/example_data.csv', delimiter=';', 
    names=True, dtype=None, encoding='UTF'
)
data

array([('2018-10-13 11:10:23.560', '262km NW of Ozernovskiy, Russia', 'mww', 6.7, 'green', 1),
       ('2018-10-13 04:34:15.580', '25km E of Bitung, Indonesia', 'mww', 5.2, 'green', 0),
       ('2018-10-13 00:13:46.220', '42km WNW of Sola, Vanuatu', 'mww', 5.7, 'green', 0),
       ('2018-10-12 21:09:49.240', '13km E of Nueva Concepcion, Guatemala', 'mww', 5.7, 'green', 0),
       ('2018-10-12 02:52:03.620', '128km SE of Kimbe, Papua New Guinea', 'mww', 5.6, 'green', 1)],
      dtype=[('time', '<U23'), ('place', '<U37'), ('magType', '<U3'), ('mag', '<f8'), ('alert', '<U5'), ('tsunami', '<i8')])

In [24]:
data.shape

(5,)

In [25]:
data.dtype

dtype([('time', '<U23'), ('place', '<U37'), ('magType', '<U3'), ('mag', '<f8'), ('alert', '<U5'), ('tsunami', '<i8')])

In [26]:
import datetime as dt
import numpy as np
import pandas as pd

In [27]:
np.random.seed(0) # set a seed for reproducibility
pd.Series(np.random.rand(5), name='random')

0    0.548814
1    0.715189
2    0.602763
3    0.544883
4    0.423655
Name: random, dtype: float64

In [28]:
pd.Series(np.linspace(0, 10, num=5)).to_frame()

      0
0   0.0
1   2.5
2   5.0
3   7.5
4  10.0

In [37]:
np.random.seed(0) # set seed so result is reproducible
pd.DataFrame(
    {
        'random': np.random.rand(5),
        'text': ['hot', 'warm', 'cool', 'cold', None],
        'truth': [np.random.choice([True, False]) for _ in range(5)]
    }, 
    index=pd.date_range(
        end=dt.date(2019, 4, 21),
        freq='1D',
        periods=5, 
        name='date'
    )
)

              random  text  truth
date
2019-04-17  0.548814   hot  False
2019-04-18  0.715189  warm   True
2019-04-19  0.602763  cool   True
2019-04-20  0.544883  cold  False
2019-04-21  0.423655  None   True

In [45]:
import datetime as dt
import numpy as np
import pandas as pd

pd.Series(np.random.rand(5), name='random')

0    0.029876
1    0.456833
2    0.649144
3    0.278487
4    0.676255
Name: random, dtype: float64

In [46]:
array_dict

{'time': array(['2018-10-13 11:10:23.560', '2018-10-13 04:34:15.580',
        '2018-10-13 00:13:46.220', '2018-10-12 21:09:49.240',
        '2018-10-12 02:52:03.620'], dtype='<U23'),
 'place': array(['262km NW of Ozernovskiy, Russia', '25km E of Bitung, Indonesia',
        '42km WNW of Sola, Vanuatu',
        '13km E of Nueva Concepcion, Guatemala',
        '128km SE of Kimbe, Papua New Guinea'], dtype='<U37'),
 'magType': array(['mww', 'mww', 'mww', 'mww', 'mww'], dtype='<U3'),
 'mag': array([6.7, 5.2, 5.7, 5.7, 5.6]),
 'alert': array(['green', 'green', 'green', 'green', 'green'], dtype='<U5'),
 'tsunami': array([1, 0, 0, 0, 1])}

In [52]:
import datetime as dt
import numpy as np
import pandas as pd
{n for n in range(5)}

{0, 1, 2, 3, 4}

In [53]:
list_of_tuples = [(n, n**2, n**3) for n in range(5)]
list_of_tuples

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64)]

In [54]:
pd.DataFrame(
    list_of_tuples, 
    columns=['n', 'n_squared', 'n_cubed']
)

   n  n_squared  n_cubed
0  0          0        0
1  1          1        1
2  2          4        8
3  3          9       27
4  4         16       64

In [55]:
np.array([
        [0, 0, 0],
        [1, 1, 1],
        [2, 4, 8],
        [3, 9, 27],
        [4, 16, 64]
    ])

array([[ 0,  0,  0],
       [ 1,  1,  1],
       [ 2,  4,  8],
       [ 3,  9, 27],
       [ 4, 16, 64]])

In [58]:
!wc -l ch_02/data/earthquakes.csv

    9333 ch_02/data/earthquakes.csv

In [59]:
!ls -lh data | grep earthquakes.csv

ls: data: No such file or directory

In [62]:
df = pd.read_csv('ch_02/data/earthquakes.csv')
df

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9327,NaN,NaN,73086771,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018060,NaN,185.0,",nc73086771,",0.62,md,...,",nc,",reviewed,1537230228060,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1537285598315,https://earthquake.usgs.gov/earthquakes/eventp...
9328,NaN,NaN,38063967,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.030410,NaN,50.0,",ci38063967,",1.00,ml,...,",ci,",reviewed,1537230135130,"M 1.0 - 3km W of Julian, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1537276800970,https://earthquake.usgs.gov/earthquakes/eventp...
9329,NaN,NaN,2018261000,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.452600,NaN,276.0,",pr2018261000,",2.40,md,...,",pr,",reviewed,1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake,",geoserve,origin,phase-data,",-240.0,1537243777410,https://earthquake.usgs.gov/earthquakes/eventp...
9330,NaN,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018650,NaN,61.0,",ci38063959,",1.10,ml,...,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.016980,NaN,39.0,",ci38063935,",0.66,ml,...,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

In [64]:
import sqlite3

with sqlite3.connect('ch_02/data/quakes.db') as connection:
    pd.read_csv('ch_02/data/tsunamis.csv').to_sql(
        'tsunamis', connection, index=False, if_exists='replace'
    )

In [65]:
import sqlite3

with sqlite3.connect('ch_02/data/quakes.db') as connection:
    tsunamis = pd.read_sql('SELECT * FROM tsunamis', connection)

tsunamis.head()

,alert,type,title,place,magType,mag,time
0,None,earthquake,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...","165km NNW of Flying Fish Cove, Christmas Island",mww,5.0,1539459504090
1,green,earthquake,"M 6.7 - 262km NW of Ozernovskiy, Russia","262km NW of Ozernovskiy, Russia",mww,6.7,1539429023560
2,green,earthquake,"M 5.6 - 128km SE of Kimbe, Papua New Guinea","128km SE of Kimbe, Papua New Guinea",mww,5.6,1539312723620
3,green,earthquake,"M 6.5 - 148km S of Severo-Kuril'sk, Russia","148km S of Severo-Kuril'sk, Russia",mww,6.5,1539213362130
4,green,earthquake,"M 6.2 - 94km SW of Kokopo, Papua New Guinea","94km SW of Kokopo, Papua New Guinea",mww,6.2,1539208835130

In [74]:


import datetime as dt
import pandas as pd
import requests

yesterday = dt.date.today() - dt.timedelta(days=2)
yesterday
api = 'https://earthquake.usgs.gov/fdsnws/event/1/query'
payload = {
    'format': 'geojson',
    'starttime': yesterday - dt.timedelta(days=30),
    'endtime': yesterday
}
payload

response = requests.get(api, params=payload)

# let's make sure the request was OK
response.status_code

200

In [78]:
earthquake_json = response.json()
earthquake_properties_data = [
    quake['properties'] for quake in earthquake_json['features']
]
df = pd.DataFrame(earthquake_properties_data)
df.head()

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
0,1.22,"2km NE of Yucaipa, CA",1623196738330,1623196953881,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ci39930488,",",ci,",",nearby-cities,origin,phase-data,scitech-link,",29.0,0.075990,0.23,63.0,ml,earthquake,"M 1.2 - 2km NE of Yucaipa, CA"
1,0.58,"16km WSW of Toms Place, CA",1623196283770,1623212474034,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nc73571761,",",nc,",",nearby-cities,origin,phase-data,scitech-link,",12.0,0.103600,0.07,245.0,md,earthquake,"M 0.6 - 16km WSW of Toms Place, CA"
2,0.64,"88 km NNW of Aleneva, Alaska",1623196208140,1623296615380,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",av91029658,",",av,",",origin,phase-data,",5.0,NaN,0.13,335.0,ml,earthquake,"M 0.6 - 88 km NNW of Aleneva, Alaska"
3,1.18,"10km NW of The Geysers, CA",1623196202320,1623198194685,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nc73571756,",",nc,",",nearby-cities,origin,phase-data,scitech-link,",21.0,0.003417,0.01,62.0,md,earthquake,"M 1.2 - 10km NW of The Geysers, CA"
4,1.24,"23km N of Ridgecrest, CA",1623196106470,1623196316778,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ci39930480,",",ci,",",nearby-cities,origin,phase-data,scitech-link,",11.0,0.041160,0.16,103.0,ml,earthquake,"M 1.2 - 23km N of Ridgecrest, CA"

In [79]:


df.empty

False

In [80]:
df.columns

Index(['mag', 'place', 'time', 'updated', 'tz', 'url', 'detail', 'felt', 'cdi',
       'mmi', 'alert', 'status', 'tsunami', 'sig', 'net', 'code', 'ids',
       'sources', 'types', 'nst', 'dmin', 'rms', 'gap', 'magType', 'type',
       'title'],
      dtype='object')

In [81]:
df.head()

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
0,1.22,"2km NE of Yucaipa, CA",1623196738330,1623196953881,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ci39930488,",",ci,",",nearby-cities,origin,phase-data,scitech-link,",29.0,0.075990,0.23,63.0,ml,earthquake,"M 1.2 - 2km NE of Yucaipa, CA"
1,0.58,"16km WSW of Toms Place, CA",1623196283770,1623212474034,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nc73571761,",",nc,",",nearby-cities,origin,phase-data,scitech-link,",12.0,0.103600,0.07,245.0,md,earthquake,"M 0.6 - 16km WSW of Toms Place, CA"
2,0.64,"88 km NNW of Aleneva, Alaska",1623196208140,1623296615380,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",av91029658,",",av,",",origin,phase-data,",5.0,NaN,0.13,335.0,ml,earthquake,"M 0.6 - 88 km NNW of Aleneva, Alaska"
3,1.18,"10km NW of The Geysers, CA",1623196202320,1623198194685,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nc73571756,",",nc,",",nearby-cities,origin,phase-data,scitech-link,",21.0,0.003417,0.01,62.0,md,earthquake,"M 1.2 - 10km NW of The Geysers, CA"
4,1.24,"23km N of Ridgecrest, CA",1623196106470,1623196316778,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ci39930480,",",ci,",",nearby-cities,origin,phase-data,scitech-link,",11.0,0.041160,0.16,103.0,ml,earthquake,"M 1.2 - 23km N of Ridgecrest, CA"

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12392 entries, 0 to 12391
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   mag      12391 non-null  float64
 1   place    12392 non-null  object
 2   time     12392 non-null  int64
 3   updated  12392 non-null  int64
 4   tz       0 non-null      object
 5   url      12392 non-null  object
 6   detail   12392 non-null  object
 7   felt     643 non-null    float64
 8   cdi      643 non-null    float64
 9   mmi      122 non-null    float64
 10  alert    62 non-null     object
 11  status   12392 non-null  object
 12  tsunami  12392 non-null  int64
 13  sig      12392 non-null  int64
 14  net      12392 non-null  object
 15  code     12392 non-null  object
 16  ids      12392 non-null  object
 17  sources  12392 non-null  object
 18  types    12392 non-null  object
 19  nst      9171 non-null   float64
 20  dmin     8812 non-null   float64
 21  rms      12392 non-null  float64
 22  gap      10376 non-null  float64
 23  magType  12391 non-null  object
 24  type     12392 non-null  object
 25  title    12392 non-null  object
dtypes: float64(8), int64(4), object(14)
memory usage: 2.5+ MB

In [84]:
df['mag']

0        1.22
1        0.58
2        0.64
3        1.18
4        1.24
         ...
12387    4.20
12388    2.30
12389    1.60
12390    1.30
12391    1.10
Name: mag, Length: 12392, dtype: float64

In [85]:
df.mag

0        1.22
1        0.58
2        0.64
3        1.18
4        1.24
         ...
12387    4.20
12388    2.30
12389    1.60
12390    1.30
12391    1.10
Name: mag, Length: 12392, dtype: float64

In [88]:
df['mag']

0        1.22
1        0.58
2        0.64
3        1.18
4        1.24
         ...
12387    4.20
12388    2.30
12389    1.60
12390    1.30
12391    1.10
Name: mag, Length: 12392, dtype: float64

In [89]:
[col for col in df.columns if col.startswith('mag')]

['mag', 'magType']

In [92]:
df[col for col in df.columns if col.startswith('mag')]}

SyntaxError: invalid syntax (<ipython-input-92-d321e58a8761>, line 1)

In [97]:
['title', 'time'] + \
[col for col in df.columns if col.startswith('mag')]

['title', 'time', 'mag', 'magType']

In [98]:
df[110:113]['title']

110         M 1.0 - 14km ENE of Ridgecrest, CA
111        M 0.7 - 85 km NNW of Karluk, Alaska
112    M 2.8 - 4 km SSW of Indios, Puerto Rico
Name: title, dtype: object

In [99]:
df[110:113]['title'].str.lower()

110         m 1.0 - 14km ene of ridgecrest, ca
111        m 0.7 - 85 km nnw of karluk, alaska
112    m 2.8 - 4 km ssw of indios, puerto rico
Name: title, dtype: object

In [100]:
df[110:113]['title']

110         M 1.0 - 14km ENE of Ridgecrest, CA
111        M 0.7 - 85 km NNW of Karluk, Alaska
112    M 2.8 - 4 km SSW of Indios, Puerto Rico
Name: title, dtype: object

In [101]:
df[110:113]['title'] = df[110:113]['title'].str.lower()

<ipython-input-101-ab67faef5099>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[110:113]['title'] = df[110:113]['title'].str.lower()

In [102]:
df[110:113]['title']

110         m 1.0 - 14km ene of ridgecrest, ca
111        m 0.7 - 85 km nnw of karluk, alaska
112    m 2.8 - 4 km ssw of indios, puerto rico
Name: title, dtype: object

In [103]:
df.loc[10:15, ['title', 'mag']]

                                           title   mag
10     M 0.8 - 20 km WSW of Glacier View, Alaska  0.80
11            M 1.2 - 11km WNW of Calipatria, CA  1.19
12              M 1.2 - 2km NE of Loma Linda, CA  1.17
13  M 4.6 - 193 km E of Kokopo, Papua New Guinea  4.60
14             M 1.9 - 8 km S of Volcano, Hawaii  1.85
15             M 1.3 - 10km N of Westmorland, CA  1.30

In [105]:
df.iloc[10:15, [19, 8]]

     nst  cdi
10   NaN  NaN
11  16.0  NaN
12  24.0  NaN
13   NaN  NaN
14  15.0  NaN

In [106]:
df.iloc[10:15, [19, 8]]

     nst  cdi
10   NaN  NaN
11  16.0  NaN
12  24.0  NaN
13   NaN  NaN
14  15.0  NaN

In [107]:
df.head()

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
0,1.22,"2km NE of Yucaipa, CA",1623196738330,1623196953881,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ci39930488,",",ci,",",nearby-cities,origin,phase-data,scitech-link,",29.0,0.075990,0.23,63.0,ml,earthquake,"M 1.2 - 2km NE of Yucaipa, CA"
1,0.58,"16km WSW of Toms Place, CA",1623196283770,1623212474034,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nc73571761,",",nc,",",nearby-cities,origin,phase-data,scitech-link,",12.0,0.103600,0.07,245.0,md,earthquake,"M 0.6 - 16km WSW of Toms Place, CA"
2,0.64,"88 km NNW of Aleneva, Alaska",1623196208140,1623296615380,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",av91029658,",",av,",",origin,phase-data,",5.0,NaN,0.13,335.0,ml,earthquake,"M 0.6 - 88 km NNW of Aleneva, Alaska"
3,1.18,"10km NW of The Geysers, CA",1623196202320,1623198194685,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nc73571756,",",nc,",",nearby-cities,origin,phase-data,scitech-link,",21.0,0.003417,0.01,62.0,md,earthquake,"M 1.2 - 10km NW of The Geysers, CA"
4,1.24,"23km N of Ridgecrest, CA",1623196106470,1623196316778,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ci39930480,",",ci,",",nearby-cities,origin,phase-data,scitech-link,",11.0,0.041160,0.16,103.0,ml,earthquake,"M 1.2 - 23km N of Ridgecrest, CA"

In [109]:
df.iloc[10:15, [19, 0]]

     nst   mag
10   NaN  0.80
11  16.0  1.19
12  24.0  1.17
13   NaN  4.60
14  15.0  1.85

In [110]:


df.iloc[10:15, 6:10]

                                               detail  felt  cdi  mmi
10  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN
11  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN
12  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN
13  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN
14  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN

In [111]:
df.iloc[10:15, 6:10]

                                               detail  felt  cdi  mmi
10  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN
11  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN
12  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN
13  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN
14  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN

In [112]:
df.loc[10:14, 'gap':'magType']

      gap magType
10    NaN      ml
11   60.0      ml
12  103.0      ml
13   62.0      mb
14  100.0      ml

In [113]:
df = pd.read_csv('ch_02/data/earthquakes.csv')

In [114]:
df.iloc[10:15, 6:10]

      gap             ids   mag magType
10   57.0    ,ci37389162,  0.50      ml
11  186.0  ,pr2018286010,  2.77      md
12   76.0    ,ci37389146,  0.50      ml
13  157.0    ,us1000hbti,  4.50      mb
14   71.0    ,nc73096921,  2.13      md

In [115]:
df.loc[10:14, 'gap':'magType']

      gap             ids   mag magType
10   57.0    ,ci37389162,  0.50      ml
11  186.0  ,pr2018286010,  2.77      md
12   76.0    ,ci37389146,  0.50      ml
13  157.0    ,us1000hbti,  4.50      mb
14   71.0    ,nc73096921,  2.13      md

In [116]:
df.loc[
    (df.place.str.contains('Alaska')) & (df.alert.notnull()),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
1015,green,5.0,ml,"M 5.0 - 61km SSW of Chignik Lake, Alaska",1,earthquake
1273,green,4.0,ml,"M 4.0 - 71km SW of Kaktovik, Alaska",1,earthquake
1795,green,4.0,ml,"M 4.0 - 60km WNW of Valdez, Alaska",1,earthquake
2752,green,4.0,ml,"M 4.0 - 67km SSW of Kaktovik, Alaska",1,earthquake
3260,green,3.9,ml,"M 3.9 - 44km N of North Nenana, Alaska",0,earthquake
4101,green,4.2,ml,"M 4.2 - 131km NNW of Arctic Village, Alaska",0,earthquake
6897,green,3.8,ml,"M 3.8 - 80km SSW of Kaktovik, Alaska",0,earthquake
8524,green,3.8,ml,"M 3.8 - 69km SSW of Kaktovik, Alaska",0,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake

In [117]:
df.loc[
    (df.place.str.contains('earthquake')) & (df.alert.notnull()),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

Empty DataFrame
Columns: [alert, mag, magType, title, tsunami, type]
Index: []

In [118]:
df.loc[
    (df.place.str.contains('green')) & (df.alert.notnull()),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

Empty DataFrame
Columns: [alert, mag, magType, title, tsunami, type]
Index: []

In [122]:
df.loc[
    (df.place.str.contains('Kaktovik')),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
18,NaN,2.0,ml,"M 2.0 - 57km SSW of Kaktovik, Alaska",0,earthquake
31,NaN,2.3,ml,"M 2.3 - 79km SW of Kaktovik, Alaska",0,earthquake
33,NaN,1.7,ml,"M 1.7 - 45km S of Kaktovik, Alaska",0,earthquake
50,NaN,2.4,ml,"M 2.4 - 65km SSW of Kaktovik, Alaska",0,earthquake
51,NaN,2.2,ml,"M 2.2 - 78km SW of Kaktovik, Alaska",0,earthquake
...,...,...,...,...,...,...
9128,NaN,2.2,ml,"M 2.2 - 56km SW of Kaktovik, Alaska",0,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake
9244,NaN,2.0,ml,"M 2.0 - 75km SSW of Kaktovik, Alaska",0,earthquake
9249,NaN,1.9,ml,"M 1.9 - 64km SSW of Kaktovik, Alaska",0,earthquake
9257,NaN,2.7,ml,"M 2.7 - 68km SSW of Kaktovik, Alaska",0,earthquake

In [123]:
df.dty

AttributeError: 'DataFrame' object has no attribute 'dty'

In [124]:
df.type

0       earthquake
1       earthquake
2       earthquake
3       earthquake
4       earthquake
           ...
9327    earthquake
9328    earthquake
9329    earthquake
9330    earthquake
9331    earthquake
Name: type, Length: 9332, dtype: object

In [125]:
df.title

0                  M 1.4 - 9km NE of Aguanga, CA
1                  M 1.3 - 9km NE of Aguanga, CA
2                  M 3.4 - 8km NE of Aguanga, CA
3                  M 0.4 - 9km NE of Aguanga, CA
4                  M 2.2 - 10km NW of Avenal, CA
                          ...
9327        M 0.6 - 9km ENE of Mammoth Lakes, CA
9328                 M 1.0 - 3km W of Julian, CA
9329    M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330               M 1.1 - 9km NE of Aguanga, CA
9331               M 0.7 - 9km NE of Aguanga, CA
Name: title, Length: 9332, dtype: object

In [126]:
df.place.str.contains('Kaktovik')

0       False
1       False
2       False
3       False
4       False
        ...
9327    False
9328    False
9329    False
9330    False
9331    False
Name: place, Length: 9332, dtype: bool

In [127]:
df.place

0                  9km NE of Aguanga, CA
1                  9km NE of Aguanga, CA
2                  8km NE of Aguanga, CA
3                  9km NE of Aguanga, CA
4                  10km NW of Avenal, CA
                      ...
9327        9km ENE of Mammoth Lakes, CA
9328                 3km W of Julian, CA
9329    35km NNE of Hatillo, Puerto Rico
9330               9km NE of Aguanga, CA
9331               9km NE of Aguanga, CA
Name: place, Length: 9332, dtype: object

In [128]:
df.title.str.contains('Kaktovik')

0       False
1       False
2       False
3       False
4       False
        ...
9327    False
9328    False
9329    False
9330    False
9331    False
Name: title, Length: 9332, dtype: bool

In [129]:
df.loc[
    (df.title.str.contains('Alaska')) & (df.alert.notnull()),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
1015,green,5.0,ml,"M 5.0 - 61km SSW of Chignik Lake, Alaska",1,earthquake
1273,green,4.0,ml,"M 4.0 - 71km SW of Kaktovik, Alaska",1,earthquake
1795,green,4.0,ml,"M 4.0 - 60km WNW of Valdez, Alaska",1,earthquake
2752,green,4.0,ml,"M 4.0 - 67km SSW of Kaktovik, Alaska",1,earthquake
3260,green,3.9,ml,"M 3.9 - 44km N of North Nenana, Alaska",0,earthquake
4101,green,4.2,ml,"M 4.2 - 131km NNW of Arctic Village, Alaska",0,earthquake
6897,green,3.8,ml,"M 3.8 - 80km SSW of Kaktovik, Alaska",0,earthquake
8524,green,3.8,ml,"M 3.8 - 69km SSW of Kaktovik, Alaska",0,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake

In [130]:
df.filter(items=['mag', 'magType']).head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

In [131]:
df.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...

In [132]:
df.filter(items=['mag', 'magType'])

       mag magType
0     1.35      ml
1     1.29      ml
2     3.42      ml
3     0.44      ml
4     2.16      md
...    ...     ...
9327  0.62      md
9328  1.00      ml
9329  2.40      md
9330  1.10      ml
9331  0.66      ml

[9332 rows x 2 columns]

In [138]:
df.set_index('place').filter(like='Japan', axis=0).filter(items=['mag', 'magType', 'title']).head()

                             mag magType                                title
place
160km NNW of Nago, Japan     4.6      mb     M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan      5.2     mww      M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan   4.5     mwr   M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan     4.7      mb     M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan  4.6      mb  M 4.6 - 53km ESE of Kamaishi, Japan

In [139]:
df.filter(items=['mag', 'magType']).head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

In [140]:
df.filter(items=['mag', 'magType'])

       mag magType
0     1.35      ml
1     1.29      ml
2     3.42      ml
3     0.44      ml
4     2.16      md
...    ...     ...
9327  0.62      md
9328  1.00      ml
9329  2.40      md
9330  1.10      ml
9331  0.66      ml

[9332 rows x 2 columns]

In [141]:
import pandas as pd

df = pd.read_csv(
    'ch_02/data/earthquakes.csv', 
    usecols=['time', 'title', 'place', 'magType', 'mag', 'alert', 'tsunami']
)

In [142]:
df['source'] = 'USGS API'

In [143]:
df.head()

,alert,mag,magType,place,time,title,tsunami,source
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,USGS API
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,USGS API
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,USGS API
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,USGS API
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,USGS API

In [151]:
df.place.str.extract(r', (.*$)')[0].sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Australia', 'Azerbaijan', 'B.C., MX', 'Barbuda', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba ', 'British Virgin Islands',
       'Burma', 'CA', 'California', 'Canada', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Ecuador region',
       'El Salvador', 'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala',
       'Haiti', 'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Italy', 'Jamaica', 'Japan', 'Kansas',
       'Kentucky', 'Kyrgyzstan', 'Martinique', 'Mauritius', 'Mayotte',
       'Mexico', 'Missouri', 'Montana', 'NV', 'Nevada', 'New Caledonia',
       'New Hampshire', 'New Mexico', 'New Zealand', 'Nicaragua',
       'North Carolina', 'Northern Mariana Islands', 'Oklahoma', 'Oregon',
       'Pakistan', 'Papua New Guinea', 'Peru', 'Philippines',
       'Puerto Rico', 'Romania', 'Russia', 'Saint Helena',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and the South Sandwich Islands',
       'South Sandwich Islands', 'Taiwan', 'Tajikistan', 'Tennessee',
       'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands', 'Utah',
       'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington', 'Wyoming',
       'Yemen', nan], dtype=object)

In [154]:
df.place.str.extract(r', (.*$)')[0]

0                CA
1                CA
2                CA
3                CA
4                CA
           ...
9327             CA
9328             CA
9329    Puerto Rico
9330             CA
9331             CA
Name: 0, Length: 9332, dtype: object

In [149]:
df.place

0                  9km NE of Aguanga, CA
1                  9km NE of Aguanga, CA
2                  8km NE of Aguanga, CA
3                  9km NE of Aguanga, CA
4                  10km NW of Avenal, CA
                      ...
9327        9km ENE of Mammoth Lakes, CA
9328                 3km W of Julian, CA
9329    35km NNE of Hatillo, Puerto Rico
9330               9km NE of Aguanga, CA
9331               9km NE of Aguanga, CA
Name: place, Length: 9332, dtype: object

In [155]:
df.assign(
    in_ca=df.parsed_place.str.endswith('California'),
    in_alaska=df.parsed_place.str.endswith('Alaska')
).sample(5, random_state=0)

AttributeError: 'DataFrame' object has no attribute 'parsed_place'

In [156]:
df['parsed_place'] = df.place.str.replace(
    r'.* of ', '', regex=True # remove anything saying <something> of <something>
).str.replace(
    'the ', '' # remove "the "
).str.replace(
    r'CA$', 'California', regex=True # fix California
).str.replace(
    r'NV$', 'Nevada', regex=True # fix Nevada
).str.replace(
    r'MX$', 'Mexico', regex=True # fix Mexico
).str.replace(
    r' region$', '', regex=True # chop off endings with " region"
).str.replace(
    'northern ', '' # remove "northern "
).str.replace(
    'Fiji Islands', 'Fiji' # line up the Fiji places
).str.replace(
    r'^.*, ', '', regex=True # remove anything else extraneous from the beginning
).str.strip() # remove any extra spaces

In [160]:
df.assign(
    in_ca=df.parsed_place.str.endswith('California'),
    in_alaska=df.parsed_place.str.endswith('Alaska')
).sample(8, random_state=1)

,alert,mag,magType,place,time,title,tsunami,source,parsed_place,in_ca,in_alaska
1988,NaN,1.30,ml,"145km ENE of Nome, Alaska",1538855945311,"M 1.3 - 145km ENE of Nome, Alaska",0,USGS API,Alaska,False,True
8695,NaN,1.68,ml,"5km WSW of Volcano, Hawaii",1537388684230,"M 1.7 - 5km WSW of Volcano, Hawaii",0,USGS API,Hawaii,False,False
5338,NaN,0.90,ml,"30km E of Yerington, Nevada",1538115919147,"M 0.9 - 30km E of Yerington, Nevada",0,USGS API,Nevada,False,False
7421,NaN,1.20,ml,"5km NE of Meadow Lakes, Alaska",1537707344108,"M 1.2 - 5km NE of Meadow Lakes, Alaska",0,USGS API,Alaska,False,True
5916,NaN,0.31,ml,"9km NE of Aguanga, CA",1538003629420,"M 0.3 - 9km NE of Aguanga, CA",0,USGS API,California,True,False
2354,NaN,1.60,ml,"88km NW of Talkeetna, Alaska",1538761058584,"M 1.6 - 88km NW of Talkeetna, Alaska",0,USGS API,Alaska,False,True
6661,NaN,2.33,ml,"15km ESE of Soda Springs, Idaho",1537866485940,"M 2.3 - 15km ESE of Soda Springs, Idaho",0,USGS API,Idaho,False,False
3949,NaN,0.80,ml,"58km WNW of Skagway, Alaska",1538388503296,"M 0.8 - 58km WNW of Skagway, Alaska",0,USGS API,Alaska,False,True

In [163]:
df.tsunami.head()==0

0    True
1    True
2    True
3    True
4    True
Name: tsunami, dtype: bool

In [164]:
tsunami = df[df.tsunami == 1]
no_tsunami = df[df.tsunami == 0]

tsunami.shape, no_tsunami.shape

((61, 9), (9271, 9))

In [168]:
pd.concat([tsunami, no_tsunami]).head()

,alert,mag,magType,place,time,title,tsunami,source,parsed_place
36,NaN,5.0,mww,"165km NNW of Flying Fish Cove, Christmas Island",1539459504090,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,USGS API,Christmas Island
118,green,6.7,mww,"262km NW of Ozernovskiy, Russia",1539429023560,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,USGS API,Russia
501,green,5.6,mww,"128km SE of Kimbe, Papua New Guinea",1539312723620,"M 5.6 - 128km SE of Kimbe, Papua New Guinea",1,USGS API,Papua New Guinea
799,green,6.5,mww,"148km S of Severo-Kuril'sk, Russia",1539213362130,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,USGS API,Russia
816,green,6.2,mww,"94km SW of Kokopo, Papua New Guinea",1539208835130,"M 6.2 - 94km SW of Kokopo, Papua New Guinea",1,USGS API,Papua New Guinea

In [171]:
additional_columns = pd.read_csv(
    'ch_02/data/earthquakes.csv', usecols=['tz', 'felt', 'ids']
)
additional_columns.head(2)

   felt           ids     tz
0   NaN  ,ci37389218, -480.0
1   NaN  ,ci37389202, -480.0

In [172]:
df.head(2)

,alert,mag,magType,place,time,title,tsunami,source,parsed_place
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,USGS API,California
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,USGS API,California

In [174]:
mag_negative = df.pop('mag_negative')
df.columns

KeyError: 'mag_negative'

In [175]:
del df['source']
df.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami',
       'parsed_place'],
      dtype='object')

In [176]:
try:
    del df['source']
except KeyError:
    # handle the error here
    print('not there anymore')

not there anymore

In [177]:
mag_negative = df.pop('mag_negative')
df.columns

KeyError: 'mag_negative'

In [178]:
cols_to_drop = [
    col for col in df.columns
    if col not in ['alert', 'mag', 'title', 'time', 'tsunami']
]

cols_to_drop

['magType', 'place', 'parsed_place']